.special-bg {
    background-color: var(--deep-purpble);
}

.special-font-color {
    color: whitesmoke!important;
    transition: .3s;
}

.custom-toggler.navbar-toggler {
    border-color: whitesmoke;
}

.nav-title {
    font-family: var(--font-pt-mono)!important;
}

.special-font-color:hover {
    color: var(--amber)!important;
}

.active {
    color: var(--amber)!important;
}