<fieldset class="container d-flex flex-column mt-5">
    <h1 class="text-center">Conversor</h1>
    <form [formGroup]="conversionForm" (ngSubmit)="handleSubmit()" class="mt-5 d-flex justify-content-center align-items-center flex-column">
        <div class="d-flex flex-wrap justify-content-center align-items-center fields-box">
            <mat-form-field appearance="fill" class="mx-2">
                <mat-label>Converter de</mat-label>
                <mat-select required formControlName="originCurrency">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let symbol of symbols" [value]="symbol.code">
                        {{symbol.code}} - {{ symbol.description }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="mx-3">
                <mat-label>Para</mat-label>
                <mat-select required formControlName="finalCurrency">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let symbol of symbols" [value]="symbol.code">
                        {{symbol.code}} - {{ symbol.description }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" floatLabel="always" class="mt-3">
                <mat-label>Valor</mat-label>
                <input required matInput type="number" min="0.01" step=".01" class="example-right-align" placeholder="1,99" formControlName="amount">
                <span matPrefix>$&nbsp;</span>
            </mat-form-field>
        </div>

        <div class="my-3">
            <button mat-raised-button [disabled]="conversionForm.invalid" color="accent" type="submit">Converter</button>
        </div>
    </form>

    <div class="p-4 mt-4 text-center align-self-center special-box d-flex flex-column justify-content-center align-items-center" *ngIf="conversion">
        <h3>{{ conversion.from_currency }} {{ conversion.from_amount | commaFloatingPoint }} equivale a</h3>
        <h2>{{ conversion.to_currency }} {{ conversion.result | commaFloatingPoint }}</h2>
        <h3>Taxa de conversão utilizada: {{ conversion.rate | commaFloatingPoint }}</h3>
    </div>
    <br><br><br><br><br><br>
</fieldset>