<section class="container-fluid mt-5 px-5">
    <div class="d-flex flex-column justify-content-center align-items-center text-center">
        <h1>Caça-Níqueis</h1>
        <img src="../../assets/images/money.svg" alt="" class="imagem-home py-2 pb-4">
        <h2>Conversor de Moedas</h2>
        <h3>Serviço online para conversão de diferentes tipos de moedas!</h3>
        <p>Baseado na API do <a href="https://exchangerate.host/#/" target="_blank" rel="noopener noreferrer">exchangerate.host</a></p>
    </div>
</section>