table {
    width: 100%!important;
    margin-top: 7rem;
}

th.mat-sort-header-sorted {
    color: black!important;
}

* {
    font-family: var(--font-karla)!important;
}

.special-icon {
    max-width: 20px!important;
    margin-left: 2px;
}

.hover:hover {
    cursor: pointer;
}