<section class="mt-5 table-responsive">
    <h1 class="text-center mb-5">Histórico de Conversões</h1>


    <mat-table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8 justify-content-center">
        <!-- Position Column -->
        <ng-container matColumnDef="data">
            <mat-header-cell mat-header-cell *matHeaderCellDef>
                Data
            </mat-header-cell>
            <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy' }} </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por hora">
                Hora
            </mat-header-cell>
            <td mat-cell *matCellDef="let element"> {{element.date | date:'HH:mm'}} </td>
        </ng-container>

        <ng-container matColumnDef="valor_informado">
            <mat-header-cell mat-header-cell *matHeaderCellDef>
                Valor informado
            </mat-header-cell>
            <td mat-cell *matCellDef="let element"> {{element.from_amount | commaFloatingPoint}} </td>
        </ng-container>

        <ng-container matColumnDef="moeda_sel">
            <mat-header-cell mat-header-cell *matHeaderCellDef>
                Moeda selecionada
            </mat-header-cell>
            <td mat-cell *matCellDef="let element"> {{element.from_currency}} </td>
        </ng-container>

        <ng-container matColumnDef="moeda_con">
            <mat-header-cell mat-header-cell *matHeaderCellDef>
                Moeda convertida
            </mat-header-cell>
            <td mat-cell *matCellDef="let element"> {{element.to_currency}} </td>
        </ng-container>

        <ng-container matColumnDef="result">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por valor convertido">
                Resultado
            </mat-header-cell>
            <td mat-cell *matCellDef="let element">
                {{element.result | commaFloatingPoint}}
                <span *ngIf="element.high">
                  <img alt="Valor superior a $10.000,00 dólares" class="special-icon" src="'../../../../../assets/images/high.svg">
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="taxa">
            <mat-header-cell mat-header-cell *matHeaderCellDef>
                Taxa
            </mat-header-cell>
            <td mat-cell *matCellDef="let element"> {{element.rate | commaFloatingPoint }} </td>
        </ng-container>

        <ng-container matColumnDef="excluir">
            <mat-header-cell mat-header-cell *matHeaderCellDef>
                Excluir
            </mat-header-cell>
            <td mat-cell *matCellDef="let element">
                <img alt="Excluir" class="special-icon hover" src="'../../../../../assets/images/delete.svg" (click)="openDialog(element.id)">
            </td>
        </ng-container>

        <mat-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-row>
        <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <br><br><br><br><br><br>
</section>